<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head></head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="navibar(activeLink)">
	<a class="navbar-brand" href="/appraisal">Mastek Appraisal</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li th:class="${#strings.equals(activeLink, 'Home')} ? 'nav-item active' : 'nav-item'"><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a></li>
			<li th:class="${#strings.equals(activeLink, 'Appraisal')} ? 'nav-item active' : 'nav-item'"><a class="nav-link" href="/appraisal">Appraisal</a></li>
			<li th:class="${#strings.equals(activeLink, 'Team')} ? 'nav-item active' : 'nav-item'"><a class="nav-link" href="/team">Team</a></li>
			<li th:class="${#strings.equals(activeLink, 'Result')} ? 'nav-item active' : 'nav-item'"><a class="nav-link" href="/result">Result</a></li>
			<li th:class="${#strings.equals(activeLink, 'Admin')} ? 'nav-item active' : 'nav-item'" sec:authorize="hasRole('FACILITATOR')"><a class="nav-link" href="/admin">Admin</a></li>
			<li th:class="${#strings.equals(activeLink, 'Register')} ? 'nav-item active' : 'nav-item'" sec:authorize="isAnonymous()"><a class="nav-link" href="/register">Register</a></li>
			<li th:class="${#strings.equals(activeLink, 'Login')} ? 'nav-item active' : 'nav-item'" sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/login}">Login</a></li>
			<li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
		</ul>
	</div>
</nav>

</body>
</html>