<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">

<head th:fragment="head-fragment">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Mastek	Appraisal </title>
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
	<script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
	
	<!-- Custom styles for this template -->
	<link th:href="@{/css/starter-template.css}" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" layout:fragment="navibar"></nav>
	
	<main role="main" class="container" layout:fragment="content">

	</main>
	<!-- /.container -->

	<footer class="footer text-center">
		<div class="container">
			<span class="text-muted">&copy;&nbsp;Company 2018-2019</span>
		</div>
	</footer>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster --> 
	
	<script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>

