<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" lang="en">
<head>
    <title>Mastek appraisal | Login</title>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body>
  <nav layout:fragment="navibar" th:replace="fragments/navigation.html :: navibar(activeLink='Login')"></nav>
	<main role="main" class="container" layout:fragment="content">
	<div class="text-center">
	    <form class="form-signin" th:action="@{/login}" method="post" sec:authorize="isAnonymous()">
	     <div th:if="${param.error}">
	     	<div class="alert alert-danger">Invalid username or password.</div>
	      </div>
	      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
	      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	      <label for="inputEmail" class="sr-only">Email address</label>
	      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="username" required autofocus>
	      <label for="inputPassword" class="sr-only">Password</label>
	      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
		  <div class="checkbox mb-3">
	        <label>
	          <input type="checkbox" value="remember-me"> Remember me
	        </label>
	      </div>
	      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
	    </form>
	      <div class="alert alert-success" sec:authorize="isAuthenticated()">
	      	You are already logged in. Click <a th:href="@{/logout}" class="alert-link">here</a> if you would like to log out.
	      </div>	    
	</div>
	</main> <!-- /.container -->
</body>
</html>
